h4{
    color:rgb(78, 67, 6);
}
body{
    background-color: chartreuse;
    
}
h3{
    color: white;
    background-color:black;
}
.foul{
    color:white;
    background-color: brown;
    height: 200px;
    width:500px;
    margin:50px;
    padding: 30px;
    border: 10px solid floralwhite;
    border-radius: 12px;
}
.foul h1{
    color: blanchedalmond;
    text-align: center;

}